* {
    margin:0 ;
    padding:0 ;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;

}

#flag-img {
   display: block;
  margin-top:180px ;
  margin-bottom: 10px; 
  max-width: 50%; 
  border-radius: 10px;
  margin-left:70px;
}

#resume {
    background-color: #f5f5f5;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  #resume p {
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  #resume a {
    color: #007bff;
    text-decoration: none;
  }
  
  #resume a:hover {
    text-decoration: underline;
  }