* {
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#countryInfo {
  background-image: url("https://th.bing.com/th/id/R.f86bbfa54fb1418a061bd4e75e2b41c5?rik=DqJ5HdKHKaUxHg&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f6%2fa%2f3%2f1156910-world-map-desktop-wallpaper-hd-1920x1080-windows.jpg&ehk=A6vxMzax7vo8KMxtzlSKD1fAFfPG%2b9xIoKG7DfK%2b048%3d&risl=&pid=ImgRaw&r=0");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  gap: 10px;
}

#inputContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#firstError {
  font-size: medium;
  font-weight: 600;
}

#secondError {
  font-size: small;
}

#error-message {
  font-size: 14px;
  color: rgb(230, 59, 59);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#country-search {
  background-color: rgb(238, 238, 244);
  color: rgb(15, 7, 7);
  width: 180px;
  height: 26.4px;
  opacity: 0.6;
  border: none;
  outline: none;
  padding: 10px;
}

#searchBtn {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 4px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-top-right-radius: 5%;
  border-bottom-right-radius: 5%;
  cursor: pointer;
}

#flag-img {
  max-width: 200px;
  border-radius: 10px;
}

#resume {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #000;
  width: 400px;
  padding: 10px;
  box-shadow: 0 4px 4px rgba(27, 25, 25, 0.1);
}

#resume p {
  font-weight: bold;
}

#resume a {
  color: #007bff;
  text-decoration: none;
}

#resume a:hover {
  text-decoration: underline;
}

#randomBtn {
  background-color: #007bff; /* Green */
  border: none;
  color: white;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 16px;
}
